@use "sass:math";

svg {
	--clr-svg-primary: var(--clr-primary);
	--clr-svg-secondary: var(--clr-secondary)
}

// Regular container
.--container {
	max-width: rem($containerWidth + $containerPadding * 2);
	margin: 0 auto;
	padding-inline: rem($containerPadding);
}

// Grid content
.--grid-content {
	display: grid;
	grid-template-columns:
		[full-width-start] 1fr [wide-start] 1fr [breakout-start] rem($containerPadding) [content-start] minmax(auto, rem($containerWidth)) [content-end] rem($containerPadding) [breakout-end] 1fr [wide-end] 1fr [full-width-end];
}

.--visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.--burger {
	display: none;
}

%heading-2 {
	font-family: var(--ff-secondary);
	font-size: rem(36);

	@media screen and (max-width: em(768)) {}

	@media screen and (max-width: em(480)) {
		font-size: rem(32);
	}

	@media screen and (max-width: em(375)) {
		font-size: rem(24);
	}
}