@use "sass:math";

svg {
	--clr-svg-primary: var(--clr-primary);
	--clr-svg-secondary: var(--clr-secondary)
}

// Grid content
.--grid-content {
	display: grid;
	grid-template-columns:
		[full-width-start] 1fr [wide-start] 1fr [breakout-start] rem($containerPadding) [content-start] minmax(auto, rem($containerWidth)) [content-end] rem($containerPadding) [breakout-end] 1fr [wide-end] 1fr [full-width-end];
}

.--visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

%heading-2 {
	font-family: var(--ff-secondary);
	font-size: rem(36);

	@media screen and (max-width: em(768)) {}

	@media screen and (max-width: em(480)) {
		font-size: rem(32);
	}

	@media screen and (max-width: em(375)) {
		font-size: rem(24);
	}
}

.site-form {
	display: grid;
	grid-auto-rows: min-content;
	gap: rem(25);

	@media screen and (max-width: em(768)) {
		gap: rem(15);
	}

	& input,
	& textarea {
		padding: rem(15) rem(20);

		border: rem(1) solid rgb(222, 222, 222);
		border-radius: rem(10);
		box-shadow: inset 0 0 rem(4) 0 rgba(0, 0, 0, 0.25);
		background: #fff;

		font-size: rem(12);
		text-transform: uppercase;
		color: var(--clr-text-dark);

		font-style: normal;

		&::placeholder {
			color: var(--clr-text-dark-050);
		}

		@media screen and (max-width: em(768)) {
			padding: rem(10) rem(15);
		}
	}

	// .site-form__text-input

	&__text-input {}

	// .site-form__textarea

	&__textarea {
		min-height: rem(115);
	}

	// .site-form__submit-button

	&__submit-button {}
}