:root {
	// Background color
	--clr-bg: rgb(45, 45, 45);

	// Primary colors
	--clr-primary: rgb(33, 148, 255);
	--clr-primary-080: rgb(33, 148, 255, 0.8);
	--clr-primary-005: rgb(33, 148, 255, 0.05);

	// Secondary colors
	--clr-secondary: rgb(241, 241, 241);
	--clr-secondary-070: rgb(241, 241, 241, 0.7);
	--clr-secondary-040: rgb(241, 241, 241, 0.4);
	--clr-secondary-030: rgb(241, 241, 241, 0.3);
	--clr-secondary-020: rgb(241, 241, 241, 0.2);

	// Text colors
	--clr-text-default: var(--clr-secondary);
	--clr-text-default-070: var(--clr-secondary-070);
	--clr-text-highlighted: var(--clr-primary);
	--clr-text-testimonial: rgb(45, 45, 45);
	--clr-text-map: rgb(27, 38, 57);

	// Fonts
	--ff-primary: 'OpenSans', sans-serif;
	--ff-secondary: 'RussoOne', sans-serif;

	--fw-normal: 400;
	--fw-bold: 700;
}

// Sizes
$containerWidth: 1140;
$containerPadding: 32;