.page {

	// .page__hero

	&__hero {
		padding-block-end: rem(60);

		@media screen and (max-width: em(992)) {
			padding-block-end: rem(40);
		}

		@media screen and (max-width: em(768)) {
			padding-block-end: rem(20);
		}
	}

	// .page__prices

	&__prices {
		background-color: var(--clr-primary-005);
		padding-block: rem(45);

		@media screen and (max-width: em(768)) {
			padding-block: rem(30);
		}

		@media screen and (max-width: em(480)) {
			padding-block: rem(20);
		}
	}

	// .page__advantages

	&__advantages {
		padding-block-start: rem(60);

		@media screen and (max-width: em(480)) {
			padding-block-start: rem(40);
		}
	}

	// .page__gas-volumes

	&__gas-volumes {
		background-color: var(--clr-primary-005);
		padding-block: rem(35) rem(65);

		@media screen and (max-width: em(992)) {
			padding-block: rem(30) rem(45);
		}

		@media screen and (max-width: em(480)) {
			padding-block: rem(30);
		}
	}

	// .page__testimonials

	&__testimonials {
		padding-block: rem(40);

		@media screen and (max-width: em(992)) {
			padding-block: rem(35);
		}

		@media screen and (max-width: em(480)) {
			padding-block: rem(30);
		}
	}

	// .page__faq

	&__faq {
		background-color: var(--clr-primary-005);
		padding-block: rem(40);

		@media screen and (max-width: em(992)) {
			padding-block: rem(35);
		}

		@media screen and (max-width: em(480)) {
			padding-block: rem(30);
		}
	}

	// .page__feedback

	&__feedback {
		padding-block: rem(40);

		@media screen and (max-width: em(992)) {
			padding-block: rem(35);
		}

		@media screen and (max-width: em(480)) {
			padding-block: rem(30);
		}
	}

	// .page__partners

	&__partners {
		padding-block: 0 rem(40);

		@media screen and (max-width: em(992)) {
			padding-block: 0 rem(35);
		}

		@media screen and (max-width: em(480)) {
			padding-block: 0 rem(30);
		}
	}

	// .page__special-offer

	&__special-offer {
		padding-block: 0 rem(40);

		@media screen and (max-width: em(992)) {
			padding-block: 0 rem(35);
		}

		@media screen and (max-width: em(480)) {
			padding-block: 0 rem(30);
		}
	}
}

// Hero section

.hero {

	// .hero__container

	&__container {
		grid-column: content-start / wide-end;

		display: grid;
		grid-template-columns: minmax(rem(430), 1fr) 2fr;
		grid-template-rows: auto 1fr;
		gap: rem(12);

		@media screen and (max-width: em(992)) {
			grid-column: breakout-start / breakout-end;
			grid-template-columns: revert;
			grid-template-rows: revert;
		}
	}

	// .hero__delivery-conditions

	&__delivery-conditions {
		grid-row: 1 / 2;
		grid-column: 1 / -1;

		position: relative;
		z-index: 2;

		padding-block-start: rem(40);

		display: inline-flex;
		gap: rem(32);

		@media screen and (max-width: em(992)) {
			grid-row: 1 / 2;
			grid-column: 1 / 2;

			padding: rem(20) rem($containerPadding) 0;
		}

		@media screen and (max-width: em(480)) {
			display: grid;
			gap: rem(15);
		}
	}

	// .hero__delivery-condition

	&__delivery-condition {}

	// .hero__delivery-condition-icons

	&__delivery-condition-icons {
		display: flex;
		align-items: center;
		gap: rem(7);

		&>svg {
			width: rem(20);
			height: rem(20);

			&:nth-child(1) {
				opacity: 0.4;
			}

			&:nth-child(2) {
				width: rem(16);
				height: rem(13);
			}
		}

		&:not(:last-child) {
			margin-bottom: rem(7);
		}
	}

	// .hero__delivery-condition-text

	&__delivery-condition-text {
		font-weight: 300;
		font-size: rem(16);

		@media screen and (max-width: em(768)) {
			font-size: rem(14);
		}
	}

	// .hero__text-block

	&__text-block {
		grid-row: 2 / 3;
		grid-column: 1 / 2;

		@media screen and (max-width: em(992)) {
			grid-row: 2 / 3;
			grid-column: 1 / 2;

			padding-inline: rem($containerPadding);
		}
	}

	// .hero__hgroup

	&__hgroup {
		font-family: var(--ff-secondary);

		&:not(:last-child) {
			margin-bottom: rem(40);

			@media screen and (max-width: em(1200)) {
				margin-bottom: rem(30);
			}

			@media screen and (max-width: em(480)) {
				margin-bottom: rem(15);
			}
		}
	}

	// .hero__title

	&__title {
		color: var(--clr-text-highlighted);

		&:not(:last-child) {
			margin-bottom: rem(14);
		}
	}

	// .hero__subtitle

	&__subtitle {
		position: relative;

		font-size: rem(24);
		text-wrap: pretty;
		max-width: rem(300);

		&::after {
			content: '';
			position: absolute;
			right: rem(-140);
			bottom: rem(-60);

			display: block;
			width: rem(160);
			height: rem(120);

			background-image: url('@img/icons/dotted-arrow.svg');
			background-repeat: no-repeat;
			background-size: 100% 100%;
		}

		@media screen and (max-width: em(1200)) {
			font-size: rem(22);

			&::after {
				right: rem(-115);
				bottom: rem(-40);

				width: rem(140);
				height: rem(100);
			}
		}

		@media screen and (max-width: em(992)) {
			font-size: rem(20);

			&::after {
				right: rem(-100);
				bottom: rem(-45);

				width: rem(140);
				height: rem(110);
			}
		}

		@media screen and (max-width: em(480)) {
			max-width: revert;
			font-size: rem(16);

			&::after {
				content: revert;
			}
		}
	}

	// .hero__order

	&__order {
		display: inline-grid;
		gap: rem(15);
		margin-bottom: rem(10);

		@media screen and (max-width: em(480)) {
			display: grid;
			justify-items: stretch;
		}
	}

	// .hero__order-button

	&__order-button {
		max-width: rem(395);

		@media screen and (max-width: em(1200)) {
			font-size: rem(22);
		}

		@media screen and (max-width: em(992)) {
			font-size: rem(20);
		}

		@media screen and (max-width: em(480)) {
			max-width: revert;

			font-size: rem(16);
		}
	}

	// .hero__order-text

	&__order-text {
		font-family: var(--font-family);
		font-weight: 600;
		font-size: rem(16);
		text-align: center;

		@media screen and (max-width: em(768)) {
			font-size: rem(14);
		}
	}

	// .hero__picture

	&__picture {
		grid-row: 1 / 3;
		grid-column: 2 / 3;
		align-self: center;

		@media screen and (max-width: em(992)) {
			z-index: -1;

			grid-row: 1 / 3;
			grid-column: 1 / 2;

			width: 100%;
			height: 100%;

			opacity: 0.2;

			&>img {
				object-fit: cover;
				object-position: left;
				height: 100%;
			}
		}
	}
}

// Prices section

.prices {
	// .prices__container

	&__container {
		position: relative;
		grid-column: content-start / content-end;

		display: grid;
		grid-template-columns: minmax(rem(260), 1fr) 2fr minmax(rem(265), 1fr);
		gap: rem(40) rem(20);

		@media screen and (max-width: em(992)) {
			grid-template-columns: repeat(2, 1fr);
			gap: rem(30) rem(20);
		}

		@media screen and (max-width: em(675)) {
			grid-template-columns: 1fr;
		}
	}

	// .prices__title

	&__title {
		grid-column: 1 / -1;

		font-family: var(--ff-secondary);
		text-align: center;
		color: var(--clr-text-highlighted);
	}

	// .prices__gas-text-block

	&__gas-text-block {
		@media screen and (min-width: em(992)) {
			padding-top: rem(30);
		}
	}

	// .prices__gas-proportions

	&__gas-proportions {
		display: grid;
		justify-content: center;
		justify-items: center;

		font-family: var(--ff-secondary);

		@media screen and (max-width: em(992)) {
			grid-column: 1 / -1;
			order: 4;
		}
	}

	// .prices__gas-proportions-text

	&__gas-proportions-text {
		font-size: rem(20);
		text-align: center;
		color: var(--clr-text-default-070);

		&:not(:last-child) {
			margin-bottom: rem(15);
		}
	}

	// .prices__gas-proportions-ratios

	&__gas-proportions-ratios {
		display: inline-grid;
		gap: rem(25);
		grid-template-columns: auto min-content auto;

		&:not(:last-child) {
			margin-bottom: rem(10);
		}
	}

	// .prices__gas-proportions-ratio

	&__gas-proportions-ratio {
		display: inline-grid;

		text-align: center;
		color: var(--clr-text-default-070);

		&>span:first-child {
			font-size: rem(36);
		}

		&>span:last-child {
			font-size: rem(18);
		}

		@media screen and (max-width: em(480)) {
			&>span:first-child {
				font-size: rem(32);
			}

			&>span:last-child {
				font-size: rem(16);
			}
		}

		@media screen and (max-width: em(375)) {
			&>span:first-child {
				font-size: rem(24);
			}
		}
	}

	// .prices__gas-proportions-ratios-separator

	&__gas-proportions-ratios-separator {
		border: rem(1) solid var(--clr-secondary-030);
		width: 0;
		height: 100%;
	}

	// .prices__gas-proportions-illustration

	&__gas-proportions-illustration {}

	// .prices__scrolldown-button

	&__scrolldown-button {
		--clr-action: var(--clr-primary);

		position: absolute;
		bottom: rem(-85);

		width: rem(100);
		height: rem(65);
		border-radius: rem(10);

		background-color: transparent;
		background-image: url('@img/icons/scroll-arrow.svg');
		background-repeat: no-repeat;
		background-size: 100% 100%;


		justify-self: center;

		transition: all var(--animation-duration);

		@media (hover: hover) {
			&:hover {
				filter: drop-shadow(0 0 rem(10) var(--clr-action));
			}
		}

		@media screen and (max-width: em(768)) {
			bottom: rem(-75);
		}

		@media screen and (max-width: em(480)) {
			bottom: rem(-45);

			width: rem(70);
			height: rem(45);
		}
	}
}

.gas-text-block {
	display: grid;
	grid-template-rows: auto minmax(auto, rem(120)) min-content;
	align-content: start;
	justify-items: start;

	@media screen and (max-width: em(992)) {
		grid-template-rows: auto minmax(auto, rem(80)) min-content;
		gap: rem(15);
	}

	@media screen and (max-width: em(675)) {
		grid-template-rows: unset;
	}

	@media screen and (max-width: em(375)) {
		justify-items: stretch;
	}

	// .gas-text-block__hgroup

	&__hgroup {
		font-family: var(--ff-secondary);

		@media screen and (min-width: em(992)) {
			&:not(:last-child) {
				margin-bottom: rem(20);
			}
		}
	}

	// .gas-text-block__title

	&__title {

		&:not(:last-child) {
			margin-bottom: rem(10);
		}

		@media screen and (max-width: em(375)) {
			&:not(:last-child) {
				margin-bottom: rem(5);
			}
		}
	}

	// .gas-text-block__subtitle

	&__subtitle {
		font-size: rem(24);
		text-wrap: balance;
		color: var(--clr-text-highlighted);

		@media screen and (max-width: em(768)) {
			font-size: rem(20);
		}

		@media screen and (max-width: em(375)) {
			font-size: rem(18);
		}
	}

	// .gas-text-block__text

	&__text {
		font-weight: 300;
		font-size: rem(16);
		text-wrap: balance;

		@media screen and (min-width: em(992)) {
			&:not(:last-child) {
				margin-bottom: rem(30);
			}
		}

		@media screen and (max-width: em(375)) {
			font-size: rem(14);
		}
	}

	// .gas-text-block__order-button

	&__order-button {}
}

// Advantages section

.advantages {

	// .advantages__container

	&__container {
		grid-column: content-start / content-end;
	}

	// .advantages__title

	&__title {
		grid-column: 1 / -1;
		text-align: center;

		&:not(:last-child) {
			margin-bottom: rem(25);
		}
	}

	// .advantages__advantages-list

	&__advantages-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: rem(25) rem(15);

		&:not(:last-child) {
			margin-bottom: rem(40);
		}
	}

	// .advantages__advantage

	&__advantage {
		flex: 1 1 rem(365);

		display: grid;
		grid-template-rows: rem(100) repeat(2, auto);
		grid-auto-columns: min(100%, rem(365));
		justify-content: center;
		justify-items: center;

		text-align: center;

		&:nth-child(3n + 2) {
			padding-top: rem(40);

			@media screen and (max-width: em(1200)) {
				padding-top: 0;
			}
		}
	}

	// .advantages__advantage-img

	&__advantage-img {
		align-self: end;

		&:not(:last-child) {
			margin-bottom: rem(8);
		}
	}

	// .advantages__advantage-title

	&__advantage-title {
		font-family: var(--ff-secondary);
		font-size: rem(24);
		text-wrap: pretty;
		color: var(--clr-text-highlighted);

		&:not(:last-child) {
			margin-bottom: rem(15);
		}

		@media screen and (max-width: em(375)) {
			font-size: rem(20);
		}
	}

	// .advantages__advantage-text

	&__advantage-text {
		font-weight: 300;
		font-size: rem(16);
	}

	// .advantages__competitive-advantage

	&__competitive-advantage {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: rem(15) rem(40);

		@media screen and (max-width: em(992)) {
			grid-template-columns: unset;
			align-items: center;
			justify-content: center;

			&>* {
				grid-column: 1 / -1;
				grid-row: 1 / -1;
			}
		}
	}

	// .advantages__competitive-advantage-picture

	&__competitive-advantage-picture {
		object-fit: cover;
	}

	// .advantages__competitive-advantage-text-block

	&__competitive-advantage-text-block {
		@media screen and (max-width: em(992)) {
			max-width: rem(600);
		}
	}

	// .advantages__competitive-advantage-text

	&__competitive-advantage-text {
		font-family: var(--ff-secondary);

		text-wrap: pretty;

		&>span {
			color: var(--clr-text-highlighted);
		}

		&:not(:last-child) {
			margin-bottom: rem(15);
		}

		@media screen and (max-width: em(992)) {
			text-align: center;
		}
	}

	// .advantages__competitive-advantage-caption

	&__competitive-advantage-caption {
		padding: rem(8) rem(13);

		font-weight: 800;
		font-size: rem(14);
		text-align: center;

		background-color: var(--clr-primary);

		@media screen and (max-width: em(480)) {
			font-size: rem(12);
		}

		margin-bottom: rem(30);
	}
}

// Gas volumes section

.gas-volumes {

	// .gas-volumes__container

	&__container {
		grid-column: content-start / content-end;

		display: grid;
	}

	// .gas-volumes__title

	&__title {
		text-align: center;
		color: var(--clr-text-highlighted);

		&:not(:last-child) {
			margin-bottom: rem(35);

			@media screen and (max-width: em(992)) {
				margin-bottom: rem(25);
			}
		}

	}

	// .gas-volumes__gas-volume-selection

	&__gas-volume-selection {}

	// .gas-volumes__order-button

	&__order-button {
		justify-self: center;
		min-width: rem(300);
		min-height: rem(90);
		margin-top: rem(-50);

		@media screen and (max-width: em(1200)) {
			font-size: rem(22);
		}

		@media screen and (max-width: em(992)) {
			min-width: rem(260);
			min-height: rem(80);

			font-size: rem(20);
		}

		@media screen and (max-width: em(480)) {
			min-width: 100%;
			min-height: revert;
			margin-top: revert;

			font-size: rem(16);
		}
	}
}

.gas-volume-selection {
	--clr-action: var(--clr-primary);

	display: grid;
	grid-auto-columns: minmax(auto, rem(740));
	justify-content: center;

	// .gas-volume-selection__tablist

	&__tablist {
		display: flex;
		flex-wrap: wrap;
		gap: rem(20);

		&:not(:last-child) {
			margin-bottom: rem(35);
		}

		@media screen and (max-width: em(992)) {
			&:not(:last-child) {
				margin-bottom: rem(25);
			}
		}

		@media screen and (max-width: em(768)) {
			gap: rem(15);
		}

		@media screen and (max-width: em(480)) {
			gap: rem(10);

			&:not(:last-child) {
				margin-bottom: rem(15);
			}
		}
	}

	// .gas-volume-selection__tablist-item

	&__tablist-item {
		flex: 1 1 rem(165);

		font-family: var(--ff-secondary);
		font-size: rem(18);
		text-align: center;

		border-radius: rem(20);
		background-color: var(--clr-secondary-020);
		box-shadow: 0 0 rem(8) transparent;

		color: var(--clr-text-default-070);
		text-shadow: rem(1) rem(2) 0 0 rgba(0, 0, 0, 0.25);

		transition: all var(--animation-duration);

		@media (hover: hover) {
			&:hover {
				background-color: var(--clr-primary);
				color: var(--clr-text-default);
			}
		}

		&:has(a[aria-selected="true"]) {
			background-color: var(--clr-primary);
			color: var(--clr-text-default);

			@media (hover: hover) {
				&:hover {
					box-shadow: 0 0 rem(8) var(--clr-primary);
				}
			}
		}

		@media screen and (max-width: em(992)) {
			font-size: rem(16);
		}

		@media screen and (max-width: em(480)) {
			font-size: rem(14);
			padding-inline: rem(5);
		}
	}

	// .gas-volume-selection__tab

	&__tab {
		display: block;
		padding-block: rem(10);
		border-radius: rem(20);

		@media screen and (min-width: em(375)) {
			display: grid;
		}
	}

	// .gas-volume-selection__tabpanels

	&__tabpanels {
		display: grid;
		grid-auto-rows: minmax(auto, rem(280));
		justify-items: center;
		align-items: center;

		@media screen and (max-width: em(480)) {
			grid-auto-rows: minmax(auto, rem(240));
		}

		@media screen and (max-width: em(375)) {
			grid-auto-rows: minmax(auto, rem(180));
		}
	}

	// .gas-volume-selection__tabpanel

	&__tabpanel {
		max-height: 100%;
	}
}

// Testimonials section

.testimonials {
	--clr-action: var(--clr-primary);

	// .testimonials__container

	&__container {
		grid-column: content-start / content-end;

		@media screen and (max-width: em(480)) {
			grid-column: breakout-start / breakout-end;
		}
	}

	// .testimonials__title

	&__title {
		text-align: center;

		&:not(:last-child) {
			margin-bottom: rem(35);

			@media screen and (max-width: em(992)) {
				margin-bottom: rem(25);
			}
		}

		@media screen and (max-width: em(480)) {
			padding-inline: rem($containerPadding);
		}
	}

	// .testimonials__slider

	&__slider {
		position: relative;

		width: rem(760);
		height: rem(320);
		overflow: visible;

		&:not(:last-child) {
			margin-bottom: rem(25);
		}

		@media screen and (max-width: em(1200)) {
			width: rem(660);
			height: rem(250);
		}

		@media screen and (max-width: em(992)) {
			width: rem(560);
		}

		@media screen and (max-width: em(675)) {
			width: rem(400);
			height: rem(220);
		}

		@media screen and (max-width: em(480)) {
			width: rem(290);
			height: rem(180);
		}
	}

	// .testimonials__slides-wrapper

	&__slides-wrapper {}

	// .testimonials__slide

	&__slide {
		display: grid;
		grid-template-columns: rem(200) 1fr;
		grid-template-rows: repeat(2, auto) 1fr;
		column-gap: rem(20);

		align-items: start;

		border-radius: rem(40);
		padding: rem(40);

		background-color: var(--clr-secondary);
		box-shadow: 0 0 rem(20) 0 rgba(0, 0, 0, 0.25);

		@media screen and (max-width: em(1200)) {
			grid-template-columns: rem(160) 1fr;
			border-radius: rem(30);
			padding: rem(30);
		}

		@media screen and (max-width: em(992)) {
			grid-template-columns: rem(150) 1fr;
		}

		@media screen and (max-width: em(675)) {
			grid-template-columns: rem(50) 1fr;
		}
	}

	// .testimonials__user-image

	&__user-image {
		grid-row: 1 / -1;
		overflow: hidden;
		border-radius: rem(25);

		&>* {
			width: 100%;
			height: 100%;
			object-fit: cover;

			@media screen and (max-width: em(1200)) {
				border-radius: rem(20);
			}
		}

		@media screen and (max-width: em(675)) {
			grid-row: 1 / 3;

			border-radius: 50%;
			aspect-ratio: 1;
		}
	}

	// .testimonials__user-name

	&__user-name {
		font-family: var(--ff-secondary);
		font-size: rem(24);
		color: var(--clr-text-highlighted);

		&:not(:last-child) {
			margin-bottom: rem(5);
		}

		@media screen and (max-width: em(675)) {
			grid-row: 1 / 2;
			grid-column: 2 / 3;
		}
	}

	// .testimonials__user-location

	&__user-location {
		font-family: var(--ff-secondary);
		font-size: rem(18);
		color: var(--clr-text-dark);

		&:not(:last-child) {
			margin-bottom: rem(15);
		}

		@media screen and (max-width: em(675)) {
			grid-row: 2 / 3;
			grid-column: 2 / 3;
		}
	}

	// .testimonials__user-testimonial

	&__user-testimonial {
		font-family: var(--ff-primary);
		font-weight: 300;
		font-size: rem(16);
		color: var(--clr-text-dark);

		@media screen and (max-width: em(675)) {
			grid-row: -1 / -2;
			grid-column: 1 / -1;

			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 6;
			overflow: hidden;
		}

		@media screen and (max-width: em(480)) {
			-webkit-line-clamp: 4;
		}
	}

	// .testimonials__slider-pagination

	&__slider-pagination {
		min-height: rem(20);

		display: flex;
		gap: rem(8);
		justify-content: center;
		justify-items: center;
		align-items: center;

		&>button {
			border-radius: rem(20);
			flex: 0 1 rem(60);
			height: rem(18);

			background-color: var(--clr-secondary-020);

			transition: all var(--animation-duration);

			@media (hover: hover) {
				&:hover {
					background-color: var(--clr-action);
				}
			}

			&.swiper-pagination-bullet-active {
				background-color: var(--clr-action);

				@media (hover: hover) {
					&:hover {}
				}
			}

			@media screen and (max-width: em(480)) {
				flex: 0 1 rem(40);
			}
		}
	}

	// .testimonials__slider-button

	&__slider-button {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);

		width: rem(50);
		height: rem(75);
		border-radius: rem(10);

		background-color: transparent;
		background-image: url('@img/icons/slide-arrow.svg');
		background-repeat: no-repeat;
		background-size: contain;

		transition: all var(--animation-duration);

		// .testimonials__slider-button_prev

		&_prev {
			left: -15%;
		}

		// .testimonials__slider-button_next

		&_next {
			right: -15%;
			transform: translateY(-50%) rotate(180deg);
		}

		@media (hover: hover) {
			&:hover {
				filter: drop-shadow(0 0 rem(10) var(--clr-primary));
			}
		}

		&.swiper-button-disabled {
			opacity: 0.4;

			@media (hover: hover) {
				&:hover {
					filter: unset;
				}
			}
		}

		@media screen and (max-width: em(768)) {
			display: none;
		}
	}
}

// FAQ section

.faq {
	--clr-action: var(--clr-primary);

	// .faq__container

	&__container {
		grid-column: breakout-start / breakout-end;
	}

	// .faq__title

	&__title {
		text-align: center;
		color: var(--clr-text-highlighted);

		padding-inline: rem($containerPadding);

		&:not(:last-child) {
			margin-bottom: rem(30);
		}
	}

	// .faq__accordion

	&__accordion {
		display: grid;
	}

	// .faq__question-block

	&__question-block {
		cursor: pointer;

		border-top: rem(2) solid rgba(255, 255, 255, 0.1);

		&:last-child {
			border-bottom: rem(2) solid rgba(255, 255, 255, 0.1);
		}

		&[open]>summary,
		&:has(.faq__answer.--opening)>summary {
			color: var(--clr-text-highlighted);

			&>svg {
				--clr-svg-primary: var(--clr-primary);
				transform: rotate(-90deg);
			}
		}

		&:not([open])>summary,
		&:has(.faq__answer.--closing)>summary {
			color: var(--clr-text-default);

			&>svg {
				--clr-svg-primary: var(--clr-secondary);
				transform: rotate(90deg);
			}
		}

		&[open] .faq__answer {
			grid-template-rows: 1fr;
		}
	}

	// .faq__question

	&__question {
		display: flex;
		align-items: center;
		gap: rem(25);

		padding: rem(25) rem($containerPadding);
		list-style: none;

		font-weight: 700;
		font-size: rem(16);
		text-transform: uppercase;

		&::-webkit-details-marker {
			display: none;
		}

		transition: all var(--animation-duration);

		@media (hover: hover) {
			&:hover {
				filter: drop-shadow(0 0 rem(1) currentColor);
			}
		}

		@media screen and (max-width: em(675)) {
			gap: rem(15);
			padding: rem(15) rem($containerPadding);

			font-size: rem(14);
		}
	}

	// .faq__question-icon

	&__question-icon {
		align-self: start;

		flex: 0 0 rem(16);
		height: rem(16);

		transition: all var(--animation-duration);
	}

	// .faq__answer

	&__answer {
		display: grid;
		grid-template-rows: 0fr;

		padding: 0 rem($containerPadding) rem(25) rem($containerPadding + 25 + 16);

		font-weight: 300;
		font-size: rem(16);

		&>p {
			overflow: hidden;
		}

		&.--opening {
			animation-name: detailsOpening;
			animation-duration: var(--animation-duration);
		}

		&.--closing {
			animation-name: detailsClosing;
			animation-duration: var(--animation-duration);
		}

		@media screen and (max-width: em(675)) {
			padding: 0 rem($containerPadding) rem(15) rem($containerPadding + 15 + 16);
			font-size: rem(14);
		}
	}
}

// Feedback section

.feedback {

	// .feedback__container

	&__container {
		grid-column: content-start / content-end;

		display: grid;
		grid-template-areas: 'title picture' 'form picture';
		grid-auto-columns: 1fr;
		grid-auto-rows: min-content 1fr;
		gap: rem(50) rem(30);

		@media screen and (max-width: em(768)) {
			grid-template-areas: 'title title' 'form picture';
			gap: rem(20);
		}

		@media screen and (max-width: em(675)) {
			grid-template-areas: 'title' 'form' 'picture';
		}
	}

	// .feedback__title

	&__title {
		grid-area: title;

		@media screen and (max-width: em(768)) {
			text-align: center;
		}
	}

	// .feedback__form

	&__form {
		grid-area: form;

		grid-auto-columns: minmax(auto, rem(400));

		@media screen and (max-width: em(675)) {
			grid-auto-columns: unset;
		}

		& button {
			max-width: rem(220);

			@media screen and (max-width: em(375)) {
				max-width: unset;
			}
		}
	}

	// .feedback__picture

	&__picture {
		align-self: start;
		grid-area: picture;

		position: relative;
		padding: 0 0 0 rem(60);

		@media screen and (max-width: em(675)) {
			justify-self: center;
			padding: 0;
		}

		&>img {
			border-radius: rem(20);
		}
	}

	// .feedback__picture-text

	&__picture-text {
		position: absolute;
		bottom: rem(60);
		left: rem(10);

		display: inline-grid;
		gap: rem(5);
		border-radius: rem(20);
		padding: rem(15) rem(25);

		background-color: var(--clr-primary-080);

		@media screen and (max-width: em(675)) {
			padding: rem(10) rem(20);
			left: rem(-50);
		}

		@media screen and (max-width: em(480)) {
			inset: auto rem(15) rem(15) rem(15);
		}

		&>span:nth-child(1) {
			font-family: var(--ff-secondary);
			font-size: rem(24);

			@media screen and (max-width: em(675)) {
				font-size: rem(20);
			}
		}

		&>span:nth-child(2) {
			font-weight: 600;
			font-size: rem(16);

			@media screen and (max-width: em(675)) {
				font-size: rem(14);
			}
		}
	}
}

// Partners section

.partners {

	// .partners__container

	&__container {
		grid-column: content-start / content-end;

		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(rem(170), 1fr));
		grid-auto-rows: 1fr;
		gap: rem(16);

		justify-content: center;
	}

	// .partners__title

	&__title {}

	// .partners__partner-link

	&__partner-link {
		--clr-action: var(--clr-secondary);

		display: flex;
		align-items: center;
		justify-content: center;

		padding: rem(8) rem(10);

		border-radius: rem(20);
		background-color: var(--clr-secondary);

		transition: all var(--animation-duration);

		@extend %button-actions;
	}
}

// Special offer section

.special-offer {

	// .special-offer__container

	&__container {
		grid-column: content-start / content-end;

		display: grid;
		justify-items: center;
		gap: rem(15);
	}

	// .special-offer__title

	&__title {
		text-align: center;
		color: var(--clr-text-highlighted);
	}

	// .special-offer__order-button

	&__order-button {
		min-width: rem(295);
		min-height: rem(90);

		text-shadow: rem(1) rem(2) 0 rgba(0, 0, 0, 0.25);

		@media screen and (max-width: em(375)) {
			min-width: 100%;
		}
	}
}