@use "sass:math";

.header {

	// .header__container

	&__container {
		grid-column: content-start / content-end;

		display: grid;
		grid-template-columns: minmax(auto, rem(270)) min-content minmax(auto, rem(130)) 1fr;
		grid-template-rows: 2fr 2fr 1fr;
		column-gap: rem(24);

		align-items: center;
		justify-content: space-between;

		padding-block-start: rem(18);

		@media screen and (max-width: em(992)) {
			column-gap: rem(20);
		}

		@media screen and (max-width: em(768)) {
			grid-template-columns: minmax(auto, rem(240)) min-content minmax(auto, rem(130)) 1fr;
			column-gap: rem(15);
		}

		@media screen and (max-width: em(675)) {
			grid-template-columns: minmax(auto, rem(200)) 1fr;
			grid-template-rows: 4fr 1fr;

			align-items: end;
		}

		@media screen and (max-width: em(480)) {
			grid-template-columns: rem(35) 1fr;
			grid-template-rows: revert;

			align-items: center;
		}
	}

	// .header__logo-link

	&__logo-link {
		grid-row: 1 / -1;

		transition: all var(--animation-duration);
	}

	// .header__logo-img

	&__logo-img {
		max-width: 100%;

		&_mobile {
			display: none;
		}

		@media screen and (max-width: em(480)) {
			display: none;

			&_mobile {
				display: revert;
				max-height: rem(50);
			}
		}
	}

	// .header__logo-separator

	&__logo-separator {
		grid-row: 2 / 3;

		border: 1px solid #fff;
		width: 0;
		height: 100%;

		@media screen and (max-width: em(675)) {
			display: none;
			grid-row: revert;
		}
	}

	// .header__logo-slogan

	&__logo-slogan {
		grid-row: 2 / 3;

		font-style: italic;
		font-size: rem(16);

		line-height: math.div(18, 16);
		color: var(--clr-text-highlighted);

		@media screen and (max-width: em(675)) {
			display: none;
			grid-row: revert;
		}
	}

	// .header__urgent-call

	&__urgent-call {
		grid-row: 2 / 3;
		grid-column: -1 / -2;
		justify-self: end;

		display: grid;
		row-gap: rem(5);

		@media screen and (max-width: em(675)) {
			grid-row: 1 / 2;
		}
	}

	// .header__urgent-call-number

	&__urgent-call-number {
		font-family: var(--ff-secondary);
		font-size: rem(24);

		@media screen and (max-width: em(768)) {
			font-size: rem(20);
		}

		@media screen and (max-width: em(675)) {
			font-size: rem(16);
		}
	}

	// .header__urgent-call-text

	&__urgent-call-text {
		font-weight: 700;
		font-size: rem(16);
		text-decoration: underline;
		text-decoration-skip-ink: none;
		color: var(--clr-text-highlighted);

		@media screen and (max-width: em(675)) {
			font-size: rem(14);
		}
	}
}