/* =============== Fonts =============== */

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-ExtraBold.woff2") format("woff2"), url("../fonts/OpenSans-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Italic.woff2") format("woff2"), url("../fonts/OpenSans-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: RussoOne;
  font-display: swap;
  src: url("../fonts/RussoOne-Regular.woff2") format("woff2"), url("../fonts/RussoOne-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* ===================================== */

/*Reset*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:active,
:focus {
  outline: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea,
select,
option {
  font-size: inherit;
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
svg,
picture {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

:root {
  --clr-bg: rgb(45, 45, 45);
  --clr-primary: rgb(33, 148, 255);
  --clr-primary-080: rgb(33, 148, 255, 0.8);
  --clr-primary-005: rgb(33, 148, 255, 0.05);
  --clr-secondary: rgb(241, 241, 241);
  --clr-secondary-070: rgb(241, 241, 241, 0.7);
  --clr-secondary-040: rgb(241, 241, 241, 0.4);
  --clr-secondary-030: rgb(241, 241, 241, 0.3);
  --clr-secondary-020: rgb(241, 241, 241, 0.2);
  --clr-text-default: var(--clr-secondary);
  --clr-text-default-070: var(--clr-secondary-070);
  --clr-text-highlighted: var(--clr-primary);
  --clr-text-dark: rgb(45, 45, 45);
  --clr-text-dark-050: rgb(45, 45, 45, 0.5);
  --clr-text-map: rgb(27, 38, 57);
  --ff-primary: "OpenSans", sans-serif;
  --ff-secondary: "RussoOne", sans-serif;
  --fw-normal: 400;
  --fw-bold: 700;
  --animation-duration: 0.3s;
}

svg {
  --clr-svg-primary: var(--clr-primary);
  --clr-svg-secondary: var(--clr-secondary);
}

.--grid-content {
  display: grid;
  grid-template-columns: [full-width-start] 1fr [wide-start] 1fr [breakout-start] 2rem [content-start] minmax(auto, 71.25rem) [content-end] 2rem [breakout-end] 1fr [wide-end] 1fr [full-width-end];
}

.--visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-form {
  display: grid;
  grid-auto-rows: min-content;
  gap: 1.5625rem;
}

.site-form input,
.site-form textarea {
  padding: 0.9375rem 1.25rem;
  border: 0.0625rem solid rgb(222, 222, 222);
  border-radius: 0.625rem;
  box-shadow: inset 0 0 0.25rem 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: var(--clr-text-dark);
  transition: color var(--animation-duration), outline var(--animation-duration);
}

.site-form input::-moz-placeholder, .site-form textarea::-moz-placeholder {
  color: var(--clr-text-dark-050);
}

.site-form input::placeholder,
.site-form textarea::placeholder {
  color: var(--clr-text-dark-050);
}

.site-form__textarea {
  min-height: 7.1875rem;
}

.--active.partners__partner-link,
.--active.prices__scrolldown-button,
.--active.button-small,
.--active.button-big {
  transform: scale(0.98);
}

.outlined-element {
  outline: 0.125rem solid transparent;
  outline-offset: 0.125rem;
}

.outlined-element:focus-visible {
  outline: 0.125rem solid var(--clr-action, currentColor);
}

.outlined-element_within-visible:has(> *:focus-visible) {
  outline: 0.125rem solid var(--clr-action, currentColor);
}

.text-huge {
  font-size: 4rem;
  text-wrap: balance;
}

.text-big {
  font-family: var(--ff-secondary);
  font-size: 2.25rem;
  text-wrap: balance;
}

.text-medium {
  font-family: var(--ff-secondary);
  font-size: 1.5rem;
  text-wrap: balance;
}

.site-link {
  --clr-default: var(--clr-secondary);
  --clr-action: var(--clr-primary);
  transition: all var(--animation-duration);
}

.site-link_highlighted {
  --clr-default: var(--clr-primary);
  --clr-action: var(--clr-secondary);
}

.site-link:focus-visible {
  color: var(--clr-action);
}

.site-link:active {
  text-shadow: 0 0 0.125rem var(--clr-action);
}

.button-big {
  --clr-action: var(--clr-primary);
  padding: 0.9375rem 0.625rem;
  border-radius: 0.6875rem;
  background-color: var(--clr-primary);
  background-image: url("../img/button-background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: var(--ff-secondary);
  font-size: 1.5rem;
  text-align: center;
  color: var(--clr-text-default);
  text-shadow: 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.25);
  transition: all var(--animation-duration);
}

.button-small {
  --clr-action: var(--clr-primary);
  padding: 0.625rem 1.875rem;
  border-radius: 3.125rem;
  background-color: var(--clr-primary);
  font-weight: 700;
  font-size: 1.125rem;
  text-align: center;
  color: var(--clr-text-default);
  transition: all var(--animation-duration);
}

.swiper-3d {
  perspective: 56.25rem;
}

.swiper-horizontal {
  touch-action: pan-y;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
}

.swiper-3d .swiper-wrapper {
  transform-style: preserve-3d;
}

.swiper-android .swiper-slide,
.swiper-ios .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-3d .swiper-slide,
.swiper-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
  transform-origin: center bottom;
}

.--modal-window {
  --backdrop-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  width: 100vw;
  z-index: 100;
  display: grid;
  padding-block: 1.25rem;
  background-color: var(--backdrop-color);
}

.--modal-window[data-state=opened] {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s, visibility 0s;
}

.--modal-window[data-state=closed] {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.--modal-window__wrapper {
  display: grid;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1.25rem;
}

.--modal-window__dialog {
  margin-inline: auto;
}

.--selectlist {
  --selectlist-accent-color: #fff;
  --selectlist-active-color: var(--clr-primary);
  --selected-option-color: rgb(87, 173, 253);
  --hover-option-color: rgb(134, 190, 243);
  --scrollbar-track-color: #fff;
  --scrollbar-thumb-color: #000;
  --border-color: rgb(222, 222, 222);
  position: relative;
  display: inline-grid;
  font-size: 0.75rem;
  color: var(--clr-text-dark);
  min-width: 100%;
}

.--selectlist__combobox {
  cursor: pointer;
  position: relative;
  z-index: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  align-items: center;
  padding: 0.9375rem 1.25rem;
  border: 0.0625rem solid var(--border-color);
  border-radius: 0.625rem;
  box-shadow: inset 0 0 0.25rem 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  outline: 0.125rem solid transparent;
  outline-offset: 0.125rem;
  transition: color var(--animation-duration), outline var(--animation-duration);
  background-color: var(--selectlist-accent-color);
  transition: border-radius 0.1s ease 0.22s, background-color 0.3s ease;
}

.--selectlist__combobox:focus-visible {
  outline: 0.125rem solid var(--selectlist-active-color);
}

.--selectlist__combobox::after {
  content: "";
  position: absolute;
  right: 0.625rem;
  width: 1rem;
  height: 1rem;
  background-image: url("../img/icons/arrow.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

.--selectlist__combobox[aria-expanded=true] {
  transition: border-radius 0s ease, background-color 0.3s ease;
}

.--selectlist__combobox[aria-expanded=true]::after {
  transform: rotate(-90deg);
}

.--selectlist__combobox[aria-expanded=true] ~ .--selectlist__listbox-wrapper {
  grid-template-rows: 1fr;
  top: calc(100% + 0.625rem);
  border: 0.125rem solid var(--border-color);
}

.--selectlist__listbox-wrapper {
  position: absolute;
  top: 100%;
  border: 0.125rem solid transparent;
  border-radius: 0.625rem;
  overflow: hidden;
  display: grid;
  grid-template-rows: 0fr;
  width: 100%;
  transition: 0.3s ease;
}

.--selectlist__listbox {
  display: flex;
  flex-direction: column;
  border-radius: 0.3125rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.--selectlist__listbox::-webkit-scrollbar {
  width: 0.625rem;
}

.--selectlist__listbox::-webkit-scrollbar-track {
  border-radius: 0 0.3125rem 0.3125rem 0;
  background-color: var(--scrollbar-track-color);
}

.--selectlist__listbox::-webkit-scrollbar-thumb {
  border: 0.125rem solid var(--scrollbar-track-color);
  background-color: var(--scrollbar-thumb-color);
  border-radius: 0.3125rem;
}

.--selectlist__option {
  cursor: pointer;
  position: relative;
  background-color: var(--selectlist-accent-color);
  padding: 0.625rem 2.5rem 0.625rem 1.25rem;
  transition: background-color 0.3s ease;
}

.--selectlist__option:not(:last-child) {
  border-bottom: 0.125rem solid var(--border-color);
}

.--selectlist__option[aria-selected=true] {
  background-color: var(--selected-option-color);
}

@keyframes detailsOpening {
  0% {
    grid-template-rows: 0fr;
    padding: 0 2rem 0 4.5625rem;
  }

  100% {
    grid-template-rows: 1fr;
    padding: 0 2rem 1.5625rem 4.5625rem;
  }
}

@keyframes detailsClosing {
  0% {
    grid-template-rows: 1fr;
    padding: 0 2rem 1.5625rem 4.5625rem;
  }

  100% {
    grid-template-rows: 0fr;
    padding: 0 2rem 0 4.5625rem;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

html {
  font-family: var(--ff-primary);
  font-style: normal;
  font-weight: var(--fw-normal);
  color: var(--clr-text-default);
  background-color: var(--clr-bg);
  scroll-behavior: smooth;
  scroll-padding-top: initial;
  caret-color: var(--clr-primary);
  scrollbar-gutter: stable;
}

body {
  min-height: 100%;
}

body.--modal-opened,
body.--burger-menu-opened {
  touch-action: none;
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  flex: 1 1 auto;
}

.footer {
  margin-bottom: 4.375rem;
}

.footer__map:not(:last-child) {
  margin-bottom: 2.5rem;
}

.map__container {
  grid-column: breakout-start/breakout-end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 2.1875rem;
  box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.25);
  background-color: var(--clr-secondary);
  overflow: hidden;
}

.map__text-block {
  padding: 2.5rem;
}

.map__hgroup:not(:last-child) {
  margin-bottom: 1.25rem;
}

.map__title {
  font-family: var(--ff-secondary);
  font-size: 2.25rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--clr-text-highlighted);
  text-wrap: pretty;
}

.map__title:not(:last-child) {
  margin-bottom: 1rem;
}

.map__subtitle {
  font-size: 1.125rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--clr-text-map);
  text-wrap: balance;
}

.map__separator {
  display: block;
  border: 0.0625rem solid rgba(27, 38, 57, 0.2);
  height: 0;
  width: 100%;
}

.map__separator:not(:last-child) {
  margin-bottom: 1.875rem;
}

.map__contact {
  font-size: 1.125rem;
}

.map__contact:not(:last-child) {
  margin-bottom: 2.8125rem;
}

.map__contact-title {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--clr-text-highlighted);
}

.map__contact-title:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.map__contact-info {
  color: var(--clr-text-map);
}

.map__interactive-map {
  min-height: 30.625rem;
  background-image: url("../img/footer/map-placeholder.png");
  background-size: cover;
  background-position: center;
}

.terms-and-conditions__container {
  grid-column: content-start/content-end;
  display: flex;
  justify-content: space-between;
  gap: 0.625rem;
}

.terms-and-conditions__document-link {
  font-size: 0.875rem;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: var(--clr-text-default);
  text-align: center;
  text-wrap: balance;
}

.header__container {
  grid-column: content-start/content-end;
  display: grid;
  grid-template-columns: minmax(auto, 16.875rem) min-content minmax(auto, 8.125rem) 1fr;
  grid-template-rows: 2fr 2fr 1fr;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  align-items: center;
  justify-content: space-between;
  padding-block-start: 1.125rem;
}

.header__logo-link {
  grid-row: 1/-1;
  transition: all var(--animation-duration);
}

.header__logo-img {
  max-width: 100%;
}

.header__logo-img_mobile {
  display: none;
}

.header__logo-separator {
  grid-row: 2/3;
  border: 1px solid #fff;
  width: 0;
  height: 100%;
}

.header__logo-slogan {
  grid-row: 2/3;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.125;
  color: var(--clr-text-highlighted);
}

.header__urgent-call {
  grid-row: 2/3;
  grid-column: -1/-2;
  justify-self: end;
  display: grid;
  row-gap: 0.3125rem;
}

.header__urgent-call-number {
  font-family: var(--ff-secondary);
  font-size: 1.5rem;
}

.header__urgent-call-text {
  font-weight: 700;
  font-size: 1rem;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: var(--clr-text-highlighted);
}

.order-form-modal {
  --clr-action: var(--clr-primary);
}

.order-form-modal__dialog {
  display: grid;
  grid-template-areas: "title close-button" "form form";
  gap: 1.875rem;
  padding: 1.875rem 1.875rem 2.5rem;
  border-radius: 2.1875rem;
  box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.25);
  background-color: #fff;
}

.order-form-modal__text {
  grid-area: title;
  max-width: 13.125rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--clr-text-highlighted);
}

.order-form-modal__close-modal-button {
  grid-area: close-button;
  justify-self: end;
  width: 2rem;
  height: 2rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  background-color: transparent;
}

.order-form-modal__close-modal-button.--active {
  transform: scale(0.95);
}

.order-form-modal__form {
  grid-area: form;
}

.order-form-modal__form > input,
.order-form-modal__form > textarea {
  min-width: 25rem;
  min-height: 3.125rem;
}

.order-form-modal__form > button {
  justify-self: center;
  min-width: 22.5rem;
  min-height: 5.625rem;
}

.order-form-modal__selectlist {
  min-height: 3.125rem;
}

.page__hero {
  padding-block-end: 3.75rem;
}

.page__prices {
  background-color: var(--clr-primary-005);
  padding-block: 2.8125rem;
}

.page__advantages {
  --margin-top: 18rem;
  padding-block-start: 3.75rem;
}

.page__gas-volumes {
  background-color: var(--clr-primary-005);
  padding-block: 2.1875rem 4.0625rem;
}

.page__testimonials {
  padding-block: 2.5rem;
}

.page__faq {
  background-color: var(--clr-primary-005);
  padding-block: 2.5rem;
}

.page__feedback {
  padding-block: 2.5rem;
}

.page__partners {
  padding-block: 0 2.5rem;
}

.page__special-offer {
  padding-block: 0 2.5rem;
}

.hero__container {
  grid-column: content-start/wide-end;
  display: grid;
  grid-template-columns: minmax(26.875rem, 1fr) 2fr;
  grid-template-rows: auto 1fr;
  gap: 0.75rem;
}

.hero__delivery-conditions {
  grid-row: 1/2;
  grid-column: 1/-1;
  position: relative;
  z-index: 2;
  padding-block-start: 2.5rem;
  display: inline-flex;
  gap: 2rem;
}

.hero__delivery-condition-icons {
  display: flex;
  align-items: center;
  gap: 0.4375rem;
}

.hero__delivery-condition-icons > svg {
  width: 1.25rem;
  height: 1.25rem;
}

.hero__delivery-condition-icons > svg:nth-child(1) {
  opacity: 0.4;
}

.hero__delivery-condition-icons > svg:nth-child(2) {
  width: 1rem;
  height: 0.8125rem;
}

.hero__delivery-condition-icons:not(:last-child) {
  margin-bottom: 0.4375rem;
}

.hero__delivery-condition-text {
  font-weight: 300;
  font-size: 1rem;
}

.hero__text-block {
  grid-row: 2/3;
  grid-column: 1/2;
}

.hero__hgroup {
  font-family: var(--ff-secondary);
}

.hero__hgroup:not(:last-child) {
  margin-bottom: 2.5rem;
}

.hero__title {
  color: var(--clr-text-highlighted);
}

.hero__title:not(:last-child) {
  margin-bottom: 0.875rem;
}

.hero__subtitle {
  position: relative;
  font-size: 1.5rem;
  text-wrap: pretty;
  max-width: 18.75rem;
}

.hero__subtitle::after {
  content: "";
  position: absolute;
  right: -8.75rem;
  bottom: -3.75rem;
  display: block;
  width: 10rem;
  height: 7.5rem;
  background-image: url("../img/icons/dotted-arrow.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.hero__order {
  display: inline-grid;
  gap: 0.9375rem;
  margin-bottom: 0.625rem;
}

.hero__order-button {
  max-width: 24.6875rem;
}

.hero__order-text {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
}

.hero__picture {
  grid-row: 1/3;
  grid-column: 2/3;
  align-self: center;
}

.prices__container {
  position: relative;
  grid-column: content-start/content-end;
  display: grid;
  grid-template-columns: minmax(16.25rem, 1fr) 2fr minmax(16.5625rem, 1fr);
  gap: 2.5rem 1.25rem;
}

.prices__title {
  grid-column: 1/-1;
  font-family: var(--ff-secondary);
  text-align: center;
  color: var(--clr-text-highlighted);
}

.prices__gas-proportions {
  display: grid;
  justify-content: center;
  justify-items: center;
  font-family: var(--ff-secondary);
}

.prices__gas-proportions-text {
  font-size: 1.25rem;
  text-align: center;
  color: var(--clr-text-default-070);
}

.prices__gas-proportions-text:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.prices__gas-proportions-ratios {
  display: inline-grid;
  gap: 1.5625rem;
  grid-template-columns: auto min-content auto;
}

.prices__gas-proportions-ratios:not(:last-child) {
  margin-bottom: 0.625rem;
}

.prices__gas-proportions-ratio {
  display: inline-grid;
  text-align: center;
  color: var(--clr-text-default-070);
}

.prices__gas-proportions-ratio > span:first-child {
  font-size: 2.25rem;
}

.prices__gas-proportions-ratio > span:last-child {
  font-size: 1.125rem;
}

.prices__gas-proportions-ratios-separator {
  border: 0.0625rem solid var(--clr-secondary-030);
  width: 0;
  height: 100%;
}

.prices__scrolldown-button {
  --clr-action: var(--clr-primary);
  position: absolute;
  bottom: -5.3125rem;
  width: 6.25rem;
  height: 4.0625rem;
  border-radius: 0.625rem;
  background-color: transparent;
  background-image: url("../img/icons/scroll-arrow.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-self: center;
  transition: all var(--animation-duration);
}

.gas-text-block {
  display: grid;
  grid-template-rows: auto minmax(auto, 7.5rem) min-content;
  align-content: start;
  justify-items: start;
}

.gas-text-block__hgroup {
  font-family: var(--ff-secondary);
}

.gas-text-block__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.gas-text-block__subtitle {
  color: var(--clr-text-highlighted);
}

.gas-text-block__text {
  font-weight: 300;
  font-size: 1rem;
  text-wrap: balance;
}

.advantages__container {
  grid-column: content-start/content-end;
}

.advantages__title {
  scroll-margin-top: calc(var(--margin-top) / 16);
  grid-column: 1/-1;
  text-align: center;
}

.advantages__title:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.advantages__advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5625rem 0.9375rem;
}

.advantages__advantages-list:not(:last-child) {
  margin-bottom: 2.5rem;
}

.advantages__advantage {
  flex: 1 1 22.8125rem;
  display: grid;
  grid-template-rows: 6.25rem repeat(2, auto);
  grid-auto-columns: min(100%, 22.8125rem);
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.advantages__advantage:nth-child(3n+2) {
  padding-top: 2.5rem;
}

.advantages__advantage-img {
  align-self: end;
}

.advantages__advantage-img:not(:last-child) {
  margin-bottom: 0.5rem;
}

.advantages__advantage-title {
  color: var(--clr-text-highlighted);
}

.advantages__advantage-title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.advantages__advantage-text {
  font-weight: 300;
  font-size: 1rem;
}

.advantages__competitive-advantage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.9375rem 2.5rem;
}

.advantages__competitive-advantage-picture {
  -o-object-fit: cover;
     object-fit: cover;
}

.advantages__competitive-advantage-text {
  font-family: var(--ff-secondary);
  text-wrap: pretty;
}

.advantages__competitive-advantage-text > span {
  color: var(--clr-text-highlighted);
}

.advantages__competitive-advantage-text:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.advantages__competitive-advantage-caption {
  padding: 0.5rem 0.8125rem;
  font-weight: 800;
  font-size: 0.875rem;
  text-align: center;
  background-color: var(--clr-primary);
  margin-bottom: 1.875rem;
}

.gas-volumes__container {
  grid-column: content-start/content-end;
  display: grid;
}

.gas-volumes__title {
  text-align: center;
  color: var(--clr-text-highlighted);
}

.gas-volumes__title:not(:last-child) {
  margin-bottom: 2.1875rem;
}

.gas-volumes__order-button {
  justify-self: center;
  min-width: 18.75rem;
  min-height: 5.625rem;
  margin-top: -3.125rem;
}

.gas-volume-selection {
  --clr-action: var(--clr-primary);
  display: grid;
  grid-auto-columns: minmax(auto, 46.25rem);
  justify-content: center;
}

.gas-volume-selection__tablist {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.gas-volume-selection__tablist:not(:last-child) {
  margin-bottom: 2.1875rem;
}

.gas-volume-selection__tablist-item {
  flex: 1 1 10.3125rem;
  font-family: var(--ff-secondary);
  font-size: 1.125rem;
  text-align: center;
  border-radius: 1.25rem;
  background-color: var(--clr-secondary-020);
  box-shadow: 0 0 0.5rem transparent;
  color: var(--clr-text-default-070);
  text-shadow: 0.0625rem 0.125rem 0 0 rgba(0, 0, 0, 0.25);
  transition: all var(--animation-duration);
}

.gas-volume-selection__tablist-item:has(a[aria-selected=true]) {
  background-color: var(--clr-primary);
  color: var(--clr-text-default);
}

.gas-volume-selection__tab {
  display: block;
  padding-block: 0.625rem;
  border-radius: 1.25rem;
}

.gas-volume-selection__tabpanels {
  display: grid;
  grid-auto-rows: minmax(auto, 17.5rem);
  justify-items: center;
  align-items: center;
}

.gas-volume-selection__tabpanel {
  max-height: 100%;
}

.testimonials {
  --clr-action: var(--clr-primary);
}

.testimonials__container {
  grid-column: content-start/content-end;
}

.testimonials__title {
  text-align: center;
}

.testimonials__title:not(:last-child) {
  margin-bottom: 2.1875rem;
}

.testimonials__slider {
  position: relative;
  width: 47.5rem;
  height: 20rem;
  overflow: visible;
}

.testimonials__slider:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.testimonials__slide {
  display: grid;
  grid-template-columns: 12.5rem 1fr;
  grid-template-rows: repeat(2, auto) 1fr;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
  align-items: start;
  border-radius: 2.5rem;
  padding: 2.5rem;
  background-color: var(--clr-secondary);
  box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.25);
}

.testimonials__user-image {
  grid-row: 1/-1;
  overflow: hidden;
  border-radius: 1.5625rem;
}

.testimonials__user-image > * {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.testimonials__user-name {
  color: var(--clr-text-highlighted);
}

.testimonials__user-name:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.testimonials__user-location {
  font-family: var(--ff-secondary);
  font-size: 1.125rem;
  color: var(--clr-text-dark);
}

.testimonials__user-location:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.testimonials__user-testimonial {
  font-family: var(--ff-primary);
  font-weight: 300;
  font-size: 1rem;
  color: var(--clr-text-dark);
}

.testimonials__slider-pagination {
  min-height: 1.25rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.testimonials__slider-pagination > button {
  border-radius: 1.25rem;
  flex: 0 1 3.75rem;
  height: 1.125rem;
  background-color: var(--clr-secondary-020);
  transition: all var(--animation-duration);
}

.testimonials__slider-pagination > button.swiper-pagination-bullet-active {
  background-color: var(--clr-action);
}

.testimonials__slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 3.125rem;
  height: 4.6875rem;
  border-radius: 0.625rem;
  background-color: transparent;
  background-image: url("../img/icons/slide-arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transition: all var(--animation-duration);
}

.testimonials__slider-button_prev {
  left: -15%;
}

.testimonials__slider-button_next {
  right: -15%;
  transform: translateY(-50%) rotate(180deg);
}

.testimonials__slider-button.swiper-button-disabled {
  opacity: 0.4;
}

.faq {
  --clr-action: var(--clr-primary);
}

.faq__container {
  grid-column: breakout-start/breakout-end;
}

.faq__title {
  text-align: center;
  color: var(--clr-text-highlighted);
  padding-inline: 2rem;
}

.faq__title:not(:last-child) {
  margin-bottom: 1.875rem;
}

.faq__accordion {
  display: grid;
}

.faq__question-block {
  cursor: pointer;
  border-top: 0.125rem solid rgba(255, 255, 255, 0.1);
}

.faq__question-block:last-child {
  border-bottom: 0.125rem solid rgba(255, 255, 255, 0.1);
}

.faq__question-block[open] > summary,
.faq__question-block:has(.faq__answer.--opening) > summary {
  color: var(--clr-text-highlighted);
}

.faq__question-block[open] > summary > svg,
.faq__question-block:has(.faq__answer.--opening) > summary > svg {
  --clr-svg-primary: var(--clr-primary);
  transform: rotate(-90deg);
}

.faq__question-block:not([open]) > summary,
.faq__question-block:has(.faq__answer.--closing) > summary {
  color: var(--clr-text-default);
}

.faq__question-block:not([open]) > summary > svg,
.faq__question-block:has(.faq__answer.--closing) > summary > svg {
  --clr-svg-primary: var(--clr-secondary);
  transform: rotate(90deg);
}

.faq__question-block[open] .faq__answer {
  grid-template-rows: 1fr;
}

.faq__question {
  display: flex;
  align-items: center;
  gap: 1.5625rem;
  padding: 1.5625rem 2rem;
  list-style: none;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  transition: all var(--animation-duration);
}

.faq__question::-webkit-details-marker {
  display: none;
}

.faq__question-icon {
  align-self: start;
  flex: 0 0 1rem;
  height: 1rem;
  transition: all var(--animation-duration);
}

.faq__answer {
  display: grid;
  grid-template-rows: 0fr;
  padding: 0 2rem 1.5625rem 4.5625rem;
  font-weight: 300;
  font-size: 1rem;
}

.faq__answer > p {
  overflow: hidden;
}

.faq__answer.--opening {
  animation-name: detailsOpening;
  animation-duration: var(--animation-duration);
}

.faq__answer.--closing {
  animation-name: detailsClosing;
  animation-duration: var(--animation-duration);
}

.feedback__container {
  grid-column: content-start/content-end;
  display: grid;
  grid-template-areas: "title picture" "form picture";
  grid-auto-columns: 1fr;
  grid-auto-rows: min-content 1fr;
  gap: 3.125rem 1.875rem;
}

.feedback__title {
  grid-area: title;
}

.feedback__form {
  --clr-action: var(--clr-primary);
  grid-area: form;
  grid-auto-columns: minmax(auto, 25rem);
}

.feedback__form button {
  max-width: 13.75rem;
}

.feedback__picture {
  align-self: start;
  grid-area: picture;
  position: relative;
  padding: 0 0 0 3.75rem;
}

.feedback__picture > img {
  border-radius: 1.25rem;
}

.feedback__picture-text {
  position: absolute;
  bottom: 3.75rem;
  left: 0.625rem;
  display: inline-grid;
  gap: 0.3125rem;
  border-radius: 1.25rem;
  padding: 0.9375rem 1.5625rem;
  background-color: var(--clr-primary-080);
}

.feedback__picture-text > span:nth-child(1) {
  font-family: var(--ff-secondary);
  font-size: 1.5rem;
}

.feedback__picture-text > span:nth-child(2) {
  font-weight: 600;
  font-size: 1rem;
}

.partners__container {
  grid-column: content-start/content-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10.625rem, 1fr));
  grid-auto-rows: 1fr;
  gap: 1rem;
  justify-content: center;
}

.partners__partner-link {
  --clr-action: var(--clr-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.625rem;
  border-radius: 1.25rem;
  background-color: var(--clr-secondary);
  transition: all var(--animation-duration);
}

.special-offer__container {
  grid-column: content-start/content-end;
  display: grid;
  justify-items: center;
  gap: 0.9375rem;
}

.special-offer__title {
  text-align: center;
  color: var(--clr-text-highlighted);
}

.special-offer__order-button {
  min-width: 18.4375rem;
  min-height: 5.625rem;
  text-shadow: 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 23.4375em) {
  .gas-volume-selection__tab {
    display: grid;
  }
}

@media screen and (min-width: 62em) {
  .prices__gas-text-block {
    padding-top: 1.875rem;
  }

  .gas-text-block__hgroup:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .gas-text-block__text:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}

@media screen and (max-width: 75em) {
  .text-huge {
    font-size: 3.375rem;
  }

  .hero__hgroup:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .hero__subtitle {
    font-size: 1.375rem;
  }

  .hero__subtitle::after {
    right: -7.1875rem;
    bottom: -2.5rem;
    width: 8.75rem;
    height: 6.25rem;
  }

  .hero__order-button {
    font-size: 1.375rem;
  }

  .advantages__advantage:nth-child(3n+2) {
    padding-top: 0;
  }

  .gas-volumes__order-button {
    font-size: 1.375rem;
  }

  .testimonials__slider {
    width: 41.25rem;
    height: 15.625rem;
  }

  .testimonials__slide {
    grid-template-columns: 10rem 1fr;
    border-radius: 1.875rem;
    padding: 1.875rem;
  }

  .testimonials__user-image > * {
    border-radius: 1.25rem;
  }
}

@media screen and (max-width: 62em) {
  .map__title {
    font-size: 1.875rem;
  }

  .map__subtitle {
    font-size: 1rem;
  }

  .map__contact {
    font-size: 1rem;
  }

  .map__interactive-map {
    min-height: 25rem;
  }

  .header__container {
    -moz-column-gap: 1.25rem;
         column-gap: 1.25rem;
  }

  .page__hero {
    padding-block-end: 2.5rem;
  }

  .page__gas-volumes {
    padding-block: 1.875rem 2.8125rem;
  }

  .page__testimonials {
    padding-block: 2.1875rem;
  }

  .page__faq {
    padding-block: 2.1875rem;
  }

  .page__feedback {
    padding-block: 2.1875rem;
  }

  .page__partners {
    padding-block: 0 2.1875rem;
  }

  .page__special-offer {
    padding-block: 0 2.1875rem;
  }

  .hero__container {
    grid-column: breakout-start/breakout-end;
    grid-template-columns: revert;
    grid-template-rows: revert;
  }

  .hero__delivery-conditions {
    grid-row: 1/2;
    grid-column: 1/2;
    padding: 1.25rem 2rem 0;
  }

  .hero__text-block {
    grid-row: 2/3;
    grid-column: 1/2;
    padding-inline: 2rem;
  }

  .hero__subtitle {
    font-size: 1.25rem;
  }

  .hero__subtitle::after {
    right: -6.25rem;
    bottom: -2.8125rem;
    width: 8.75rem;
    height: 6.875rem;
  }

  .hero__order-button {
    font-size: 1.25rem;
  }

  .hero__picture {
    z-index: -1;
    grid-row: 1/3;
    grid-column: 1/2;
    width: 100%;
    height: 100%;
    opacity: 0.2;
  }

  .hero__picture > img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: left;
       object-position: left;
    height: 100%;
  }

  .prices__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.875rem 1.25rem;
  }

  .prices__gas-proportions {
    grid-column: 1/-1;
    order: 4;
  }

  .gas-text-block {
    grid-template-rows: auto minmax(auto, 5rem) min-content;
    gap: 0.9375rem;
  }

  .advantages__competitive-advantage {
    grid-template-columns: unset;
    align-items: center;
    justify-content: center;
  }

  .advantages__competitive-advantage > * {
    grid-column: 1/-1;
    grid-row: 1/-1;
  }

  .advantages__competitive-advantage-text-block {
    max-width: 37.5rem;
  }

  .advantages__competitive-advantage-text {
    text-align: center;
  }

  .gas-volumes__title:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .gas-volumes__order-button {
    min-width: 16.25rem;
    min-height: 5rem;
    font-size: 1.25rem;
  }

  .gas-volume-selection__tablist:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .gas-volume-selection__tablist-item {
    font-size: 1rem;
  }

  .testimonials__title:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .testimonials__slider {
    width: 35rem;
  }

  .testimonials__slide {
    grid-template-columns: 9.375rem 1fr;
  }
}

@media screen and (max-width: 48em) {
  .site-form {
    gap: 0.9375rem;
  }

  .site-form input,
  .site-form textarea {
    padding: 0.625rem 0.9375rem;
  }

  .text-huge {
    font-size: 3rem;
  }

  .text-big {
    font-size: 2rem;
  }

  .text-medium {
    font-size: 1.25rem;
  }

  .--selectlist__combobox {
    padding: 0.625rem 0.9375rem;
  }

  .footer__map:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .footer {
    margin-bottom: 3.125rem;
  }

  .map__container {
    grid-template-columns: revert;
    grid-auto-rows: 1fr;
    border-radius: 1.875rem;
  }

  .map__text-block {
    padding: 1.875rem;
  }

  .map__contact:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .map__interactive-map {
    min-height: revert;
  }

  .terms-and-conditions__container {
    padding-inline: 1.5rem;
  }

  .terms-and-conditions__document-link {
    font-size: 0.75rem;
  }

  .header__container {
    grid-template-columns: minmax(auto, 15rem) min-content minmax(auto, 8.125rem) 1fr;
    -moz-column-gap: 0.9375rem;
         column-gap: 0.9375rem;
  }

  .header__urgent-call-number {
    font-size: 1.25rem;
  }

  .page__hero {
    padding-block-end: 1.25rem;
  }

  .page__prices {
    padding-block: 1.875rem;
  }

  .hero__delivery-condition-text {
    font-size: 0.875rem;
  }

  .hero__order-text {
    font-size: 0.875rem;
  }

  .prices__scrolldown-button {
    bottom: -4.6875rem;
  }

  .gas-volume-selection__tablist {
    gap: 0.9375rem;
  }

  .testimonials__slider-button {
    display: none;
  }

  .feedback__container {
    grid-template-areas: "title title" "form picture";
    gap: 1.25rem;
  }

  .feedback__title {
    text-align: center;
  }
}

@media screen and (max-width: 42.1875em) {
@keyframes detailsOpening {
    0% {
      grid-template-rows: 0fr;
      padding: 0 2rem 0 3.9375rem;
    }

    100% {
      grid-template-rows: 1fr;
      padding: 0 2rem 0.9375rem 3.9375rem;
    }
}

@keyframes detailsClosing {
    0% {
      grid-template-rows: 1fr;
      padding: 0 2rem 0.9375rem 3.9375rem;
    }

    100% {
      grid-template-rows: 0fr;
      padding: 0 2rem 0 3.9375rem;
    }
}

  .header__container {
    grid-template-columns: minmax(auto, 12.5rem) 1fr;
    grid-template-rows: 4fr 1fr;
    align-items: end;
  }

  .header__logo-separator {
    display: none;
    grid-row: revert;
  }

  .header__logo-slogan {
    display: none;
    grid-row: revert;
  }

  .header__urgent-call {
    grid-row: 1/2;
  }

  .header__urgent-call-number {
    font-size: 1rem;
  }

  .header__urgent-call-text {
    font-size: 0.875rem;
  }

  .order-form-modal__dialog {
    padding: 1.5625rem;
    border-radius: 1.875rem;
  }

  .order-form-modal__form > input,
  .order-form-modal__form > textarea {
    min-width: 20rem;
  }

  .order-form-modal__form > button {
    min-width: 20rem;
    min-height: 5rem;
    font-size: 1.25rem;
  }

  .prices__container {
    grid-template-columns: 1fr;
  }

  .gas-text-block {
    grid-template-rows: unset;
  }

  .testimonials__slider {
    width: 25rem;
    height: 13.75rem;
  }

  .testimonials__slide {
    grid-template-columns: 3.125rem 1fr;
  }

  .testimonials__user-image {
    grid-row: 1/3;
    border-radius: 50%;
    aspect-ratio: 1;
  }

  .testimonials__user-name {
    grid-row: 1/2;
    grid-column: 2/3;
  }

  .testimonials__user-location {
    grid-row: 2/3;
    grid-column: 2/3;
  }

  .testimonials__user-testimonial {
    grid-row: -1/-2;
    grid-column: 1/-1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
  }

  .faq__question {
    gap: 0.9375rem;
    padding: 0.9375rem 2rem;
    font-size: 0.875rem;
  }

  .faq__answer {
    padding: 0 2rem 0.9375rem 3.9375rem;
    font-size: 0.875rem;
  }

  .feedback__container {
    grid-template-areas: "title" "form" "picture";
  }

  .feedback__form {
    grid-auto-columns: unset;
  }

  .feedback__picture {
    justify-self: center;
    padding: 0;
  }

  .feedback__picture-text {
    padding: 0.625rem 1.25rem;
    left: -3.125rem;
  }

  .feedback__picture-text > span:nth-child(1) {
    font-size: 1.25rem;
  }

  .feedback__picture-text > span:nth-child(2) {
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 30em) {
  .text-huge {
    font-size: 2.25rem;
  }

  .text-big {
    font-size: 1.625rem;
  }

  .footer__map:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .footer {
    margin-bottom: 1.875rem;
  }

  .map__container {
    border-radius: 2rem;
  }

  .map__text-block {
    padding: 2rem;
  }

  .map__hgroup:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .map__title {
    font-size: 1.375rem;
  }

  .map__title:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .map__subtitle {
    font-size: 0.875rem;
  }

  .map__separator:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .map__contact {
    font-size: 0.875rem;
  }

  .map__contact:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .terms-and-conditions__container {
    flex-direction: column;
    padding-inline: 0;
  }

  .header__container {
    grid-template-columns: 2.1875rem 1fr;
    grid-template-rows: revert;
    align-items: center;
  }

  .header__logo-img {
    display: none;
  }

  .header__logo-img_mobile {
    display: revert;
    max-height: 3.125rem;
  }

  .order-form-modal__dialog {
    padding: 1.25rem;
    border-radius: 0.9375rem;
  }

  .order-form-modal__form > input,
  .order-form-modal__form > textarea {
    min-width: 100%;
  }

  .order-form-modal__form > button {
    min-width: 100%;
    font-size: 1.125rem;
  }

  .page__prices {
    padding-block: 1.25rem;
  }

  .page__advantages {
    --margin-top: 15rem;
    padding-block-start: 2.5rem;
  }

  .page__gas-volumes {
    padding-block: 1.875rem;
  }

  .page__testimonials {
    padding-block: 1.875rem;
  }

  .page__faq {
    padding-block: 1.875rem;
  }

  .page__feedback {
    padding-block: 1.875rem;
  }

  .page__partners {
    padding-block: 0 1.875rem;
  }

  .page__special-offer {
    padding-block: 0 1.875rem;
  }

  .hero__delivery-conditions {
    display: grid;
    gap: 0.9375rem;
  }

  .hero__hgroup:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .hero__subtitle {
    max-width: revert;
    font-size: 1rem;
  }

  .hero__subtitle::after {
    content: revert;
  }

  .hero__order {
    display: grid;
    justify-items: stretch;
  }

  .hero__order-button {
    max-width: revert;
    font-size: 1rem;
  }

  .prices__gas-proportions-ratio > span:first-child {
    font-size: 2rem;
  }

  .prices__gas-proportions-ratio > span:last-child {
    font-size: 1rem;
  }

  .prices__scrolldown-button {
    bottom: -2.8125rem;
    width: 4.375rem;
    height: 2.8125rem;
  }

  .advantages__competitive-advantage-caption {
    font-size: 0.75rem;
  }

  .gas-volumes__order-button {
    min-width: 100%;
    min-height: revert;
    margin-top: revert;
    font-size: 1rem;
  }

  .gas-volume-selection__tablist {
    gap: 0.625rem;
  }

  .gas-volume-selection__tablist:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .gas-volume-selection__tablist-item {
    font-size: 0.875rem;
    padding-inline: 0.3125rem;
  }

  .gas-volume-selection__tabpanels {
    grid-auto-rows: minmax(auto, 15rem);
  }

  .testimonials__container {
    grid-column: breakout-start/breakout-end;
  }

  .testimonials__title {
    padding-inline: 2rem;
  }

  .testimonials__slider {
    width: 18.125rem;
    height: 11.25rem;
  }

  .testimonials__user-testimonial {
    -webkit-line-clamp: 4;
  }

  .testimonials__slider-pagination > button {
    flex: 0 1 2.5rem;
  }

  .feedback__picture-text {
    inset: auto 0.9375rem 0.9375rem 0.9375rem;
  }
}

@media screen and (max-width: 23.4375em) {
  .text-big {
    font-size: 1.375rem;
  }

  .text-medium {
    font-size: 1.125rem;
  }

  .prices__gas-proportions-ratio > span:first-child {
    font-size: 1.5rem;
  }

  .gas-text-block {
    justify-items: stretch;
  }

  .gas-text-block__title:not(:last-child) {
    margin-bottom: 0.3125rem;
  }

  .gas-text-block__text {
    font-size: 0.875rem;
  }

  .gas-volume-selection__tabpanels {
    grid-auto-rows: minmax(auto, 11.25rem);
  }

  .feedback__form button {
    max-width: unset;
  }

  .special-offer__order-button {
    min-width: 100%;
  }
}

@media (hover: hover) {
  .partners__partner-link:hover,
  .prices__scrolldown-button:hover,
  .button-small:hover,
  .button-big:hover {
    box-shadow: 0 0 0.625rem var(--clr-action);
  }

  .site-link:hover {
    color: var(--clr-action);
  }

  .order-form-modal__close-modal-button:hover > svg {
    --clr-svg-primary: #000;
  }

  .prices__scrolldown-button:hover {
    filter: drop-shadow(0 0 0.625rem var(--clr-action));
  }

  .gas-volume-selection__tablist-item:hover {
    background-color: var(--clr-primary);
    color: var(--clr-text-default);
  }

  .gas-volume-selection__tablist-item:has(a[aria-selected=true]):hover {
    box-shadow: 0 0 0.5rem var(--clr-primary);
  }

  .testimonials__slider-pagination > button:hover {
    background-color: var(--clr-action);
  }

  .testimonials__slider-button:hover {
    filter: drop-shadow(0 0 0.625rem var(--clr-primary));
  }

  .testimonials__slider-button.swiper-button-disabled:hover {
    filter: unset;
  }

  .faq__question:hover {
    filter: drop-shadow(0 0 0.0625rem currentColor);
  }
}

@media (any-hover: hover) {
  .--selectlist__option:hover {
    background-color: var(--hover-option-color);
  }
}