/* =============== Fonts =============== */

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-ExtraBold.woff2") format("woff2"), url("../fonts/OpenSans-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Italic.woff2") format("woff2"), url("../fonts/OpenSans-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: RussoOne;
  font-display: swap;
  src: url("../fonts/RussoOne-Regular.woff2") format("woff2"), url("../fonts/RussoOne-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* ===================================== */

/*Reset*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:active,
:focus {
  outline: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea,
select,
option {
  font-size: inherit;
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
picture {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

:root {
  --clr-bg: rgb(45, 45, 45);
  --clr-primary: rgb(33, 148, 255);
  --clr-primary-080: rgb(33, 148, 255, 0.8);
  --clr-primary-005: rgb(33, 148, 255, 0.05);
  --clr-secondary: rgb(241, 241, 241);
  --clr-secondary-070: rgb(241, 241, 241, 0.7);
  --clr-secondary-040: rgb(241, 241, 241, 0.4);
  --clr-secondary-020: rgb(241, 241, 241, 0.2);
  --clr-text-default: var(--clr-secondary);
  --clr-text-default-070: var(--clr-secondary-070);
  --clr-text-highlighted: var(--clr-primary);
  --clr-text-testimonial: rgb(45, 45, 45);
  --clr-text-map: rgb(27, 38, 57);
  --ff-primary: "OpenSans", sans-serif;
  --ff-secondary: "RussoOne", sans-serif;
  --fw-normal: 400;
  --fw-bold: 700;
}

.--container {
  max-width: 75.25rem;
  margin: 0 auto;
  padding-inline: 2rem;
}

.--grid-content {
  display: grid;
  grid-template-columns: [full-width-start] 1fr [breakout-start] 2rem [content-start] minmax(auto, 71.25rem) [content-end] 2rem [breakout-end] 1fr [full-width-end];
}

.--visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.--burger {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

html {
  font-family: var(--ff-primary);
  font-style: normal;
  font-weight: var(--fw-normal);
  color: var(--clr-text-default);
  background-color: var(--clr-bg);
  scroll-behavior: smooth;
  scroll-padding-top: initial;
}

body {
  min-height: 100%;
}

body.--modal-opened,
body.--burger-menu-opened {
  touch-action: none;
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  flex: 1 1 auto;
}

.footer {
  margin-bottom: 4.375rem;
}

.footer__map:not(:last-child) {
  margin-bottom: 2.5rem;
}

.map__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 2.1875rem;
  box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.25);
  background: var(--clr-secondary);
  max-width: 71.25rem;
  padding-inline: 0;
  overflow: hidden;
}

.map__text-block {
  padding: 2.5rem;
}

.map__hgroup:not(:last-child) {
  margin-bottom: 1.25rem;
}

.map__title {
  font-family: var(--ff-secondary);
  font-size: 2.25rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--clr-text-highlighted);
  text-wrap: pretty;
}

.map__title:not(:last-child) {
  margin-bottom: 1rem;
}

.map__subtitle {
  font-size: 1.125rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--clr-text-map);
  text-wrap: balance;
}

.map__separator {
  display: block;
  border: 1px solid rgba(27, 38, 57, 0.2);
  height: 0;
  width: 100%;
}

.map__separator:not(:last-child) {
  margin-bottom: 1.875rem;
}

.map__contact {
  font-size: 1.125rem;
}

.map__contact:not(:last-child) {
  margin-bottom: 2.8125rem;
}

.map__contact-title {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--clr-text-highlighted);
}

.map__contact-title:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.map__contact-info {
  color: var(--clr-text-map);
}

.map__interactive-map {
  min-height: 30.625rem;
  background-image: url("../img/footer/map-placeholder.png");
  background-size: cover;
  background-position: center;
}

.terms-and-conditions__container {
  display: flex;
  justify-content: space-between;
  gap: 0.625rem;
  max-width: 71.25rem;
}

.terms-and-conditions__document-link {
  font-size: 0.875rem;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: var(--clr-text-default);
  text-align: center;
  text-wrap: balance;
}

.header__container {
  display: grid;
  grid-template-columns: minmax(auto, 16.875rem) min-content minmax(auto, 8.125rem) 1fr;
  grid-template-rows: 2fr 2fr 1fr;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  align-items: center;
  justify-content: space-between;
  padding-block-start: 1.125rem;
}

.header__logo-link {
  grid-row: 1/-1;
}

.header__logo-separator {
  grid-row: 2/3;
  border: 1px solid #fff;
  width: 0;
  height: 100%;
}

.header__logo-slogan {
  grid-row: 2/3;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.125;
  color: var(--clr-text-highlighted);
}

.header__urgent-call {
  grid-row: 2/3;
  grid-column: -1/-2;
  justify-self: end;
  display: grid;
  row-gap: 0.3125rem;
}

.header__urgent-call-number {
  font-family: var(--ff-secondary);
  font-size: 1.5rem;
}

.header__urgent-call-text {
  font-weight: 700;
  font-size: 1rem;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: var(--clr-text-highlighted);
}

@media screen and (max-width: 62em) {
  .map__title {
    font-size: 1.875rem;
  }

  .map__subtitle {
    font-size: 1rem;
  }

  .map__contact {
    font-size: 1rem;
  }

  .map__interactive-map {
    min-height: 25rem;
  }

  .header__container {
    -moz-column-gap: 1.25rem;
         column-gap: 1.25rem;
  }
}

@media screen and (max-width: 48em) {
  .footer__map:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .map__container {
    grid-template-columns: revert;
    grid-auto-rows: 1fr;
    border-radius: 1.875rem;
  }

  .map__text-block {
    padding: 1.875rem;
  }

  .map__interactive-map {
    min-height: revert;
  }

  .terms-and-conditions__container {
    font-size: 0.75rem;
  }

  .terms-and-conditions__document-link {
    font-size: 0.75rem;
  }

  .header__container {
    grid-template-columns: minmax(auto, 15rem) min-content minmax(auto, 8.125rem) 1fr;
    -moz-column-gap: 0.9375rem;
         column-gap: 0.9375rem;
  }

  .header__urgent-call-number {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 30em) {
  .footer__map:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .map__hgroup:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .map__title {
    font-size: 1.5rem;
  }

  .map__title:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .map__separator:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .map__contact:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .terms-and-conditions__container {
    flex-direction: column;
  }

  .header__container {
    grid-template-columns: auto 1fr;
    grid-template-rows: revert;
    align-items: center;
  }
}

@media screen and (max-width: 42.1875em) {
  .header__container {
    grid-template-columns: minmax(auto, 12.5rem) 1fr;
    grid-template-rows: 4fr 1fr;
    align-items: end;
  }

  .header__logo-separator {
    display: none;
    grid-row: revert;
  }

  .header__logo-slogan {
    display: none;
    grid-row: revert;
  }

  .header__urgent-call {
    grid-row: 1/2;
  }

  .header__urgent-call-number {
    font-size: 1rem;
  }

  .header__urgent-call-text {
    font-size: 0.875rem;
  }
}