@keyframes detailsOpening {
	0% {
		grid-template-rows: 0fr;
		padding: 0 rem($containerPadding) 0 rem($containerPadding + 25 + 16);
	}

	100% {
		grid-template-rows: 1fr;
		padding: 0 rem($containerPadding) rem(25) rem($containerPadding + 25 + 16);
	}
}

@keyframes detailsClosing {
	0% {
		grid-template-rows: 1fr;
		padding: 0 rem($containerPadding) rem(25) rem($containerPadding + 25 + 16);
	}

	100% {
		grid-template-rows: 0fr;
		padding: 0 rem($containerPadding) 0 rem($containerPadding + 25 + 16);
	}
}

@keyframes formSendLoadAnimation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@media screen and (max-width: em(675)) {
	@keyframes detailsOpening {
		0% {
			grid-template-rows: 0fr;
			padding: 0 rem($containerPadding) 0 rem($containerPadding + 15 + 16);
		}

		100% {
			grid-template-rows: 1fr;
			padding: 0 rem($containerPadding) rem(15) rem($containerPadding + 15 + 16);
		}
	}

	@keyframes detailsClosing {
		0% {
			grid-template-rows: 1fr;
			padding: 0 rem($containerPadding) rem(15) rem($containerPadding + 15 + 16);
		}

		100% {
			grid-template-rows: 0fr;
			padding: 0 rem($containerPadding) 0 rem($containerPadding + 15 + 16);
		}
	}
}